name: Create challenge
run-name: Create challenge ${{ inputs.name }} by ${{ inputs.author }}

on:
  workflow_call:
    inputs:
      # Challenge inputs
      issue:
        description: "Existing issue to link the challenge to. Leave empty to create a new issue."
        required: false
        type: number
        default: 0
      name:
        description: "Name of the challenge"
        required: true
        type: string
      author:
        description: "Author of the challenge - Your alias"
        required: true
        type: string
      category:
        description: "Category of the challenge"
        required: true
        type: string
      difficulty:
        description: "Difficulty of the challenge"
        required: true
        type: string
      type:
        description: "Type of the challenge"
        required: true
        type: string
      instanced_type:
        description: "Type of the instanced challenge"
        required: false
        type: string
        default: "none"
      flag:
        description: "Flag of the challenge"
        required: true
        type: string
      min-points:
        description: "Minimum points for the challenge"
        required: false
        type: number
        default: 10
      points:
        description: "Maximum points for the challenge"
        required: false
        type: number
        default: 1000
      # Github settings
      pr-base:
        description: "Base branch for the pull request"
        required: false
        type: string
        default: "develop"
      milestone:
        description: "Milestone to assign the issue and PR to"
        required: false
        type: string
        default: "Challenges"
      # Workflow settings
      runs-on:
        description: "The runner to use for the workflow"
        required: false
        type: string
        default: "ubuntu-latest"
      toolkit-path:
        description: "Path to the CTF Pilot's Challenge Toolkit"
        required: false
        type: string
        default: "./challenge-toolkit/"

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  create_challenge:
    name: Create challenge
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}
    outputs:
      pr: ${{ steps.pr.outputs.pr_url }}
      slug: ${{ steps.slugify.outputs.slug }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      # Install python and dependencies
      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install python dependencies
        run: cd "$INPUT_TOOLKIT"/src && pip install -r requirements.txt
        env:
          INPUT_TOOLKIT: ${{ inputs.toolkit-path || './challenge-toolkit/' }}

      # Create challenge
      - name: Create challenge
        run: |
          python3 "$INPUT_TOOLKIT"/src/ctf.py create \
            --name "$INPUT_NAME" \
            --category "$INPUT_CATEGORY" \
            --difficulty "$INPUT_DIFFICULTY" \
            --author "$INPUT_AUTHOR" \
            --points "$INPUT_POINTS" \
            --min-points "$INPUT_MIN_POINTS" \
            --flag "$INPUT_FLAG" \
            --type "$INPUT_TYPE" \
            --instanced-type "$INPUT_INSTANCED_TYPE" \
            --no-prompts
        env:
          INPUT_NAME: ${{ inputs.name }}
          INPUT_CATEGORY: ${{ inputs.category }}
          INPUT_DIFFICULTY: ${{ inputs.difficulty }}
          INPUT_AUTHOR: ${{ inputs.author }}
          INPUT_FLAG: ${{ inputs.flag }}
          INPUT_TYPE: ${{ inputs.type }}
          INPUT_INSTANCED_TYPE: ${{ inputs.instanced_type }}
          INPUT_POINTS: ${{ inputs.points || 1000 }}
          INPUT_MIN_POINTS: ${{ inputs.min-points || 10 }}
          INPUT_TOOLKIT: ${{ inputs.toolkit-path || './challenge-toolkit/' }}

      # Get slug
      - name: Get slug
        id: slugify
        run: echo "slug=$(python3 "$INPUT_TOOLKIT"/src/ctf.py slugify --name "$INPUT_NAME")" >> "$GITHUB_OUTPUT"
        env:
          INPUT_TOOLKIT: ${{ inputs.toolkit-path || './challenge-toolkit/' }}
          INPUT_NAME: ${{ inputs.name }}

      # Check if challenge branch already exists
      - name: Check if challenge branch exists
        run: |
          if git show-ref --verify --quiet refs/heads/challenge/$INPUT_SLUG; then
            echo "::error title=Challenge already exists::The challenge branch 'challenge/$INPUT_SLUG' already exists, indicating that the challenge has already been created. Please delete the branch and try again."
            exit 1
          else
            echo "Challenge branch does not exist. Proceeding..."
          fi
        env:
          INPUT_SLUG: ${{ steps.slugify.outputs.slug }}

      # Commit changes to new branch
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Create challenge: ${{ inputs.name }} by ${{ inputs.author }}"
          create_branch: true
          branch: challenge/${{ steps.slugify.outputs.slug }}

      # Open pull request
      - name: Open pull request
        id: pr
        run: >-
          ISSUE_TEXT=""
          if [ $INPUT_ISSUE != 0 ]; then
            ISSUE_TEXT=" This is the initial code for issue #$INPUT_ISSUE."
          fi

          URL=$(gh pr create -B "$INPUT_PR_BASE" -H "challenge/$INPUT_SLUG" \
            --title "Create challenge: $INPUT_NAME" \
            --body "Create challenge: $INPUT_NAME by $INPUT_AUTHOR. This PR was automatically generated.$ISSUE_TEXT" \
            --label "Challenge" --label "Category: $INPUT_CATEGORY" --label "Difficulty: $INPUT_DIFFICULTY" \
            --assignee "$GH_ACTOR" \
            --milestone "$INPUT_MILESTONE")
          echo "pr_url=$URL" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ github.token }}
          GH_ACTOR: ${{ github.actor }}
          INPUT_SLUG: ${{ steps.slugify.outputs.slug }}
          INPUT_NAME: ${{ inputs.name }}
          INPUT_AUTHOR: ${{ inputs.author }}
          INPUT_CATEGORY: ${{ inputs.category }}
          INPUT_DIFFICULTY: ${{ inputs.difficulty }}
          INPUT_PR_BASE: ${{ inputs.pr-base || 'develop' }}
          INPUT_MILESTONE: ${{ inputs.milestone || 'Challenges' }}
          INPUT_ISSUE: ${{ inputs.issue }}

  create_issue:
    if: ${{ inputs.issue == 0 }}
    name: Create issue
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}
    needs:
      - create_challenge
    permissions:
      issues: write
      contents: read
    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      # Create issue
      - name: Create issue
        run: >-
          gh issue create --title "$INPUT_NAME" \
            --body 'Challenge: $INPUT_NAME by $INPUT_AUTHOR.

            - **Flag:** $INPUT_FLAG
            - **Instanced:** $INPUT_INSTANCED
            - **Instanced type:** $INPUT_INSTANCED_TYPE

            Challenge branch: [challenge/$INPUT_SLUG](/$GH_REPO/tree/challenge/$INPUT_SLUG)
            
            Initial code has been generated in $GH_PR.

            Automatic challenge creation was done by the $GH_ACTOR.
            ' \
            --label "Challenge" --label "Category: $INPUT_CATEGORY" --label "Difficulty: $INPUT_DIFFICULTY" \
            --assignee "$GH_ACTOR" \
            --milestone "$INPUT_MILESTONE"
        env:
          GH_TOKEN: ${{ github.token }}
          GH_ACTOR: ${{ github.actor }}
          GH_REPO: ${{ github.repository }}
          GH_PR: ${{ needs.create_challenge.outputs.pr }}
          INPUT_NAME: ${{ inputs.name }}
          INPUT_SLUG: ${{ needs.create_challenge.outputs.slug }}
          INPUT_MILESTONE: ${{ inputs.milestone || 'Challenges' }}
          INPUT_AUTHOR: ${{ inputs.author }}
          INPUT_FLAG: ${{ inputs.flag }}
          INPUT_INSTANCED: ${{ inputs.type == 'instanced' && 'Yes' || 'No' }}
          INPUT_INSTANCED_TYPE: ${{ inputs.instanced_type }}
          INPUT_CATEGORY: ${{ inputs.category }}
          INPUT_DIFFICULTY: ${{ inputs.difficulty }}
